# Ignore everything by default
*

# Allow these core WordPress directories
!wp-admin/
!wp-includes/
!wp-content/

# Allow root files
!*.php
!*.html
!*.txt
!.htaccess
!.gitignore

# In wp-admin, allow everything
!wp-admin/**
!wp-includes/**

# In wp-content, allow themes and plugins only
wp-content/**
!wp-content/themes/
!wp-content/themes/**
!wp-content/plugins/
!wp-content/plugins/contact-form-7/
!wp-content/plugins/contact-form-7/**

!wp-content/plugins/customer-reviews-woocommerce/
!wp-content/plugins/customer-reviews-woocommerce/**

!wp-content/plugins/duplicate-post/
!wp-content/plugins/duplicate-post/**
!wp-content/plugins/elementor/
!wp-content/plugins/elementor/**

wp-content/plugins/**

# Still ignore media and cache folders
wp-content/uploads/
wp-content/cache/

