# Ignore all files
*

# But allow core WordPres
# Ignore everything
*

# Allow WordPress root files
!*.php
!*.html
!*.css
!*.js
!*.txt
!.htaccess
!.gitignore

# Allow these folders
!wp-admin/
!wp-includes/
!wp-content/

# Ignore everything in wp-content
!wp-content/*

# Allow only themes and plugins in wp-content
!wp-content/themes/
!wp-content/plugins/

# Specifically ignore uploads and cache folders
wp-content/uploads/
wp-content/cache/

