/* shop fixed popup messages */
.goldsmith-shop-popup-notices {
	z-index: 107;
	max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 0;
}

.goldsmith-shop-popup-notices .woocommerce-message,
.goldsmith-quickshop-notices .woocommerce-message,
.goldsmith-quickview-wrapper .woocommerce-message {
    background: var(--goldsmith-success-bg);
    border: 1px solid var(--goldsmith-success-border);
    color: var(--goldsmith-success);
    padding: 15px 20px;
}

.goldsmith-shop-popup-notices .woocommerce-error,
.goldsmith-quickshop-notices .woocommerce-error,
.goldsmith-quickview-wrapper .woocommerce-error {
    background: var(--goldsmith-red-bg);
    border: 1px solid var(--goldsmith-red-border);
    color: var(--goldsmith-red);
    padding: 15px 20px;
}

.woocommerce-error span.close-error {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.goldsmith-shop-popup-notices.postion-top-right,
.goldsmith-shop-popup-notices.postion-bottom-right {
	right: 0px;
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
.goldsmith-shop-popup-notices.postion-bottom-left,
.goldsmith-shop-popup-notices.postion-bottom-right {
	bottom: 15px;
}
.goldsmith-shop-popup-notices.postion-top-left,
.goldsmith-shop-popup-notices.postion-bottom-left {
	left: 15px;
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
.goldsmith-shop-popup-notices.postion-top-right,
.goldsmith-shop-popup-notices.postion-top-left {
	top: 40px;
}
.goldsmith-shop-popup-notices.postion-centered {
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	visibility: visible;
	opacity: 1;
}
.woocommerce-notices-wrapper {
    position: relative;
    max-width: 450px;
    width: 100%;
    color: var(--goldsmith-light);
}
.postion-top-right .woocommerce-notices-wrapper,
.postion-bottom-right .woocommerce-notices-wrapper {
    transform: translateX(calc(-100% - 15px));
}
.postion-top-left .woocommerce-notices-wrapper,
.postion-bottom-left .woocommerce-notices-wrapper {
    transform: translateX(calc(100% + 15px));
}


@media(max-width:576px) {
	.goldsmith-shop-popup-notices {
		left: 15px;
	}
	.goldsmith-shop-popup-notices.postion-top-left,
	.goldsmith-shop-popup-notices.postion-bottom-left {
		right: 15px;
	}
}

.goldsmith-shop-popup-notices,
.goldsmith-shop-popup-notices.goldsmith-notices-has-error ul.woocommerce-error {
	color: var(--goldsmith-light);
}
.goldsmith-shop-popup-notices .goldsmith-panel-close-button,
.goldsmith-shop-popup-notices .button.wc-forward,
.goldsmith-shop-popup-notices.goldsmith-notices-has-error .close-error {
	display: none;
}

.goldsmith-shop-popup-notices.postion-in-product .goldsmith-btn {
	padding: 10px;
	font-size: 12px;
}
.goldsmith-shop-popup-notices.postion-centered:hover,
.goldsmith-shop-popup-notices.postion-centered.active {
	opacity: 1;
	visibility: visible;
}
.goldsmith-shop-popup-notices span.product-name,
.goldsmith-shop-popup-notices p.message {
	color: var(--goldsmith-light);
}
.goldsmith-shop-popup-notices .goldsmith-cart-update-message p {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 10px;
}
.goldsmith-shop-popup-notices span.update {
	display: block;
    text-transform: uppercase;
}

.goldsmith-shop-popup-notices .button.wc-forward {
	color: #fff !important;
}
