/*
06 Theme Mobile Side Menu Start
/////////////////////////////////*/

.admin-bar .goldsmith-header-mobile {
	top: 32px;
	height: calc(100vh - 32px);
}

@media(max-width:782px) {
	.admin-bar .goldsmith-header-mobile {
		top: 46px;
		height: calc(100vh - 46px);
	}
}

.goldsmith-header-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 530px;
    z-index: 104;
    padding: 0;
    background: var(--goldsmith-light);
    right: 0;
    opacity: 0;
    overflow: hidden;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    will-change: transform;
    -webkit-transition: opacity 0.25s ease, ease;
    transition: opacity 0.25s ease, transform 0.25s ease;
}
